.text-black{
  color: black!important;
}
@media (max-width: 576px) {
  .text-xs-center{
      text-align: center;
  }

  .d-xs-none{
      display: none!important;
  }

  .d-xs{
      display: flex;
  }

  .mb-xs-2{
    margin-bottom: 8px;
  }

  .mb-xs-3{
    margin-bottom: 16px;
  }

  .text-xs-center{
    text-align: center;
  }

  .w-xs-full{
    width: 50%;
  }

  .fs-xs-12{
    font-size: 12px;
  }

  .fs-xs-14{
    font-size: 14px;
  }

  .float-xs-start {
    float: left !important;
  }

  .mt-xs-3 {
    margin-top: 16px;
  }

  .float-xs-start {
    float: left !important;
  }

  .col-xs-6{
    flex: 0 0 auto;
    width: 50%;
  }

  .position-xs-absolute {
    position: absolute !important;
  }
}

@media (min-width: 576px) {
  .d-inline{
    display: inline;
  }

  .d-sm-none{
    display: none;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Latar belakang hitam yang lebih gelap */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Z-index yang tinggi untuk menutupi elemen lain */
}

.loader:after {
  content: "";
  border: 6px solid #3498db;
  border-top: 6px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.loaderAtShow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Latar belakang hitam yang lebih gelap */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Z-index yang tinggi untuk menutupi elemen lain */
}

.loaderAtShow:after {
  content: "";
  border: 6px solid #3498db;
  border-top: 6px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mw-100{
  min-width: 100px;
}

.mw-125{
  min-width: 125px;
}

.mw-150{
  min-width: 150px;
}

.mw-200{
  min-width: 200px;
}
